body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.container {
  text-align: center;
  width: 1200px;
  height: 600px;
  border: 2px solid #ff6f00;
  padding: 10px;
  background-color: #ffffff;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #ff6f00;
}

p {
  font-size: 1.1rem;
  margin: 15px 0;
  padding: 10px;
  border: 2px solid #ff6f00;
}

.buttons {
  padding-top: 400px;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  color: #000;
  border-radius: 4px;
}

button {
  padding: 10px 50px;
  font-size: 1rem;
  margin: 0 10px;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #ff6f00;
}

.result {
  margin: 15px 0;
  padding: 10px;
  border: 2px solid #ff6f00;
  background-color: #fff8e1;
  display: none;
}

.result img {
  width: 100%;
  max-width: 200px;
}

.hidden {
  display: none;
}
